.svg-container {
  width: 100%;
  height: auto;
  perspective: 500px;
  transform-style: preserve-3d;
}

.svg {
  width: 100%;
  height: 100%;
}


@keyframes moveY1 {
  0%   {fill: rgb(196, 252, 243); transform: translateY(-5px) translateX(5px) scale(0.8,0.8) rotate3d(1,1,1,-10deg) } 
  50%  {fill: rgb(205, 250, 153); transform: translateY(5px) translateX(-5px) scale(1,1)  rotate3d(1,1,1,10deg) }
  100%  {fill: rgb(196, 252, 243) ; transform: translateY(-5px) translateX(5px) scale(0.8,0.8)  rotate3d(1,1,1,-10deg) }
}


.moveY1, .moveY2, .moveY3, .moveY4, 
.moveY5, .moveY6, .moveY7, .moveY8 {
  animation: moveY1 4s ease-in-out infinite;
  position: absolute;
}

.moveY1 { animation-delay: .2s; }
.moveY2 { animation-delay: .4s; }
.moveY3 { animation-delay: .6s; }
.moveY4 { animation-delay: .8s; }
.moveY5 { animation-delay: 1.0s; }
.moveY6 { animation-delay: 1.2s; }
.moveY7 { animation-delay: 1.4s; }
.moveY8 { animation-delay: 1.6s; }
